.label-input {
    &--has-error {
        .label-input__input {
            border-color: var(--danger-weak);
            box-shadow: 0 0 2px var(--danger-weak);

            &:focus {
                outline: 1px solid var(--danger);
                border-color: var(--danger);
                box-shadow: 0 0 2px var(--danger);
            }
        }
        label {
            color: var(--danger);
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
    }

    &__input {
        border: 1px solid var(--accent-weak);

        &:focus {
            outline: 1px solid var(--accent);
            border-color: var(--accent);
            box-shadow: 0 0 2px var(--accent);
        }
    }
}
